<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeartbeatGlobalGameJam2013.HighScores" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HeartbeatGlobalGameJam2013.HighScores>
            <setting name="User1" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User2" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User3" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User4" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User5" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User6" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User7" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User8" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User9" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="User10" serializeAs="String">
                <value>CPU</value>
            </setting>
            <setting name="UserScore1" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="UserScore2" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="UserScore3" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="UserScore4" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="UserScore5" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UserScore6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserScore7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserScore8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserScore9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserScore10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </HeartbeatGlobalGameJam2013.HighScores>
    </userSettings>
</configuration>